
li{
	list-style: none;
}
.center2{
	display: flex;
	justify-content: center;
}
.center3{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.display{
	
	width: 30%;
}

@media screen and (max-width:800px) {
	
	.center2{
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}
}

@media screen and (max-width:800px) {
	
	.display{
		width: 70%;
	}
}